.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.bg-dark-gradient {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
// .btn-outline-primary:hover {
//     color: #fff;
// }

.btn-outline-primary:hover{
    color: color-contrast($dark); // 黑色的對比色為白色
}